@keyframes brighten {
    0% {
        color: var(--color-secondary, rgba(255, 255, 255, 0.55));
    }
    100% {
        color: var(--white);
    }
}

.cta-button {
    width: 100%;
    flex-shrink: 0;

    &.secondary {
        border: 1px solid #fff;
        color: var(--color-secondary);
        background: transparent;
        font-weight: 350;

        &::after {
            background: #ffffff1a;
        }
    }
}

main.index {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 9rem;
    background: radial-gradient(180vh 180vh at 50% 100vh, rgba(166, 137, 217, 0.1) 0%, rgba(0, 0, 0, 0) 100%);

    @media screen and (max-width: 1000px) {
        gap: 6rem;
    }

    .hero-banner {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        border: 1px solid #0a84ff99;
        background: linear-gradient(180deg, rgba(10, 132, 255, 0.14) 0%, rgba(10, 132, 255, 0.04) 100%);
        position: absolute;
        top: 5rem;
        height: 42px;

        &-confetti {
            position: absolute;
            top: -10%;
            left: 50%;
            pointer-events: none;
            z-index: 99;
        }

        @media screen and (max-width: 600px) {
            flex-direction: column;
            height: fit-content;
            border-radius: 8px;

            .hero-banner-sep {
                width: 100%;
                height: 1px;
                flex-shrink: 0;
            }

            .hero-banner-text {
                padding-inline: 16px;
                padding-block: 8px;
                width: 100%;
                justify-content: center;
                align-items: center;
                gap: 8px;
                height: fit-content;

                [style] {
                    margin-inline-start: 16px;
                    text-align: end;
                }
            }

            .sep {
                display: none;
            }
        }

        &-text {
            padding-inline: 32px;
            display: flex;
            gap: 16px;
            align-items: center;
            justify-content: center;
            height: 100%;

            &[style] {
                font-size: 14px;
            }

            .sep {
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background: #0a84ff99;
                flex-shrink: 0;
            }
        }

        &-sep {
            height: 100%;
            width: 1px;
            background: #0a84ff50;
        }

        a {
            color: #0a84ff;
            text-decoration: none;

            &:hover {
                background: rgba(10, 132, 255, 0.1);
            }
        }
    }

    .hero-text {
        padding-top: 10rem;
        text-align: center;
        font-size: 3rem;
        font-weight: 400;
        line-height: normal;
        color: var(--color-secondary, rgba(255, 255, 255, 0.55));
        transition: opacity 500ms ease-in-out;
        opacity: 0.6;
        max-width: 80vw;
        text-wrap: balance;

        &.inline {
            padding-top: 0;

            .hero-text-badges {
                margin-bottom: 0;
            }
        }

        @media screen and (max-width: 1260px) {
            br {
                display: none;
                width: 0;
            }
        }

        @media screen and (max-width: 1000px) {
            padding-top: 8.5rem;
            font-size: 2rem;
        }

        @media screen and (max-width: 600px) {
            padding-top: 11rem;
            font-size: 1.5rem;
        }

        @media screen and (max-width: 400px) {
            font-size: 1.2rem;
        }

        &.highlighted,
        &:hover {
            opacity: 1;
        }

        &-badges {
            margin-top: 16px;
            gap: 16px;
            margin-bottom: -40px;
            display: flex;
            align-items: center;
            justify-content: center;

            @media screen and (max-width: 576px) {
                flex-direction: column;
            }

            &-badge {
                display: flex;
                padding: 10px 20px;
                justify-content: center;
                align-items: center;
                gap: 16px;
                border-radius: 50px;
                border: 1px solid rgba(255, 255, 255, 0.2);
                background: linear-gradient(180deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0) 100%);
                text-decoration: none;
                color: #969696;
                text-align: center;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
                width: fit-content;
                transition: background-image 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;

                @media screen and (max-width: 756px) {
                    font-size: 14px;
                }

                &.disabled {
                    opacity: 0.4 !important;
                    pointer-events: none !important;
                }

                &.highlight {
                    border-color: rgba(10, 132, 255, 0.2);
                    background: linear-gradient(180deg, rgba(10, 132, 255, 0.12) 0%, rgba(10, 132, 255, 0.02) 100%);

                    &:hover {
                        background: linear-gradient(180deg, rgba(10, 132, 255, 0.14) 0%, rgba(10, 132, 255, 0.04) 100%);
                    }
                }

                &:hover {
                    background: linear-gradient(180deg, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0.02) 100%);
                }

                &-text {
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    svg {
                        width: 14px;
                        height: 14px;
                    }
                }

                &-icon {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    font-size: 8px;
                    line-height: 10px;

                    svg {
                        margin-inline: -4px;
                    }

                    div {
                        order: 2;
                        margin-top: -4px;

                        // doing this to get around lack of :has support
                        + span svg {
                            margin-top: -4px;
                        }
                    }
                }
            }
        }

        &-highlight {
            animation: brighten 1000ms ease-in-out forwards 500ms;
        }
    }

    .window {
        display: flex;
        width: 60rem;
        height: 39rem;
        border-radius: 0.4vw;
        border: 1px solid #8484844a;
        transition: transform 1s ease-in-out;
        background-image: url("/assets/client/dark.webp");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        backdrop-filter: blur(50px);
        -webkit-backdrop-filter: blur(50px);
        background-color: #15151566;
        box-shadow: 0px 36px 100px 0px rgba(0, 0, 0, 0.7);

        @media (prefers-reduced-motion: no-preference) {
            transform: perspective(75em) rotateX(18deg);
        }

        @media screen and (max-width: 1000px) {
            width: 37rem;
            height: 24rem;
            border-width: 0.1vw;
        }

        @media screen and (max-width: 700px) {
            width: 80vw;
            height: 52vw;
        }

        &.highlighted,
        &:hover {
            transform: perspective(75em) rotateX(0deg);

            &::after {
                opacity: 0 !important;
            }
        }

        &::after {
            position: absolute;
            content: "";
            z-index: 1;
            width: 100%;
            height: 100%;
            left: 0px;
            top: 0px;
            background: #000;
            opacity: 0.4;
            transition: opacity 1.3s ease-in-out;
        }

        &-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: fit-content;
            position: relative;

            .object {
                position: absolute;
                z-index: -1;
                width: 140vw;
                height: auto;
                transform: translateX(-50%);
                left: 50%;
                bottom: 0;
                top: -9vw;

                @media screen and (max-width: 1000px) {
                    width: 166vw;
                    top: -23vw;
                }
            }
        }
    }

    .separator {
        width: 100%;
        height: 1px;
        background: rgba(255, 255, 255, 0.2);
    }

    .feature {
        display: flex;
        padding: 0px 160px;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        gap: 72px;
        transition: opacity 500ms ease-in-out;
        opacity: 0.6;

        &.download {
            opacity: 1 !important;
            padding-block: 9rem;
            border-top: 1px solid rgba(255, 255, 255, 0.2);
            background: linear-gradient(90deg, rgba(10, 132, 255, 0.2) 0%, rgba(10, 132, 255, 0) 100%);

            @media screen and (max-width: 1000px) {
                padding-block: 6rem;
            }
        }

        @media screen and (max-width: 1000px) {
            flex-direction: column;
            gap: 4rem;
            padding: 0 6rem;

            & > * {
                width: 100% !important;
            }

            .feature-text-button {
                margin-top: 2rem;
            }
        }

        @media screen and (max-width: 600px) {
            padding: 0 2rem;
        }

        &.highlighted,
        &:hover {
            opacity: 1;
        }

        img {
            width: 55%;
            pointer-events: none;
        }

        &-grid {
            margin: 0px 100px;
            width: calc(100% - 200px);
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1px;
            position: relative;
            border: 1px solid rgba(255, 255, 255, 0.2);

            @media screen and (max-width: 950px) {
                width: calc(100% - 8rem);
                margin: 0 4rem;
                grid-template-columns: 1fr;
            }

            @media screen and (max-width: 600px) {
                width: calc(100% - 4rem);
                margin: 0 2rem;
            }

            @media screen and (max-width: 500px) {
                width: calc(100% - 2rem);
                margin: 0 1rem;
            }

            &::after {
                z-index: -1;
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0px;
                top: 0px;
                background: rgba(255, 255, 255, 0.2);
            }

            &-item {
                background: #000;
                display: flex;
                width: 100%;
                height: 100%;
                padding: 48px;
                flex-direction: column;
                align-items: flex-start;
                gap: 32px;
                overflow: hidden;

                > * {
                    opacity: 0.6;
                    transition: opacity 500ms ease-in-out;
                }

                &.highlighted,
                &:hover {
                    > * {
                        opacity: 1;
                    }
                }

                @media screen and (max-width: 950px) {
                    > * {
                        opacity: 1 !important;
                    }
                }

                &.full {
                    grid-column-end: span 2;
                    align-items: center;
                    flex-direction: row;

                    .feature-grid-item-text-paragraph .highlight {
                        display: block;
                    }

                    @media screen and (max-width: 950px) {
                        grid-column-end: auto;
                        align-items: flex-start;
                        flex-direction: column;

                        .feature-grid-item-text-paragraph .highlight {
                            display: inline;
                        }
                    }
                }

                @media screen and (max-width: 950px) {
                    padding: 32px;
                    height: auto; // safari moment
                }

                @media screen and (max-width: 600px) {
                    padding: 24px;
                }

                &-graphic {
                    pointer-events: none;
                    user-select: none;

                    &.popout {
                        width: 100%;
                        max-width: 60%;
                        height: auto;

                        @media screen and (max-width: 950px) {
                            max-width: 100%;
                        }
                    }

                    &.github,
                    &.design {
                        width: 100%;
                        height: auto;
                    }

                    &.open {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 1rem;
                        width: 100%;

                        .message {
                            display: flex;
                            padding: 0.75rem 1rem;
                            align-items: flex-start;
                            gap: 0.625rem;
                            color: var(--white);
                            font-size: 1rem;
                            font-weight: 400;
                            line-height: 120%;
                            border-radius: 0.75rem;
                            background: var(--fills-tertiary-dark, rgba(255, 255, 255, 0.25));

                            &.you {
                                background: #0a84ff;
                                max-width: 60%;
                                align-self: flex-end;

                                @media screen and (max-width: 600px) {
                                    max-width: 80%;
                                }

                                @media screen and (max-width: 400px) {
                                    max-width: 90%;
                                }
                            }
                        }
                    }

                    &.speed {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        gap: 8px;
                        height: 100%;
                        width: 100%;

                        .box {
                            display: flex;
                            width: 5rem;
                            height: 5rem;
                            justify-content: center;
                            align-items: center;
                            flex-shrink: 0;
                            border-radius: 0.5rem;
                            border: 1px solid rgba(255, 255, 255, 0.2);
                            background: linear-gradient(135deg, rgba(255, 255, 255, 0.11) 0%, rgba(255, 255, 255, 0.06) 100%);

                            svg:not(.logo, .highlight > svg) {
                                width: 1.5rem;
                                height: 1.5rem;
                                opacity: 0.6;
                            }

                            &.highlight {
                                border-radius: 0.5rem;
                                border: 1px solid var(--color-blue-500);
                                background: linear-gradient(135deg, rgba(59, 130, 247, 0.4) 0%, rgba(59, 130, 247, 0.2) 100%);

                                svg {
                                    color: var(--color-blue-500);
                                }
                            }
                        }

                        .line {
                            height: 1px;
                            width: 100%;
                            border: 1px solid #fff;
                            opacity: 0.2;

                            &.highlight {
                                opacity: 0.8;
                                border: 1px solid var(--color-blue-500);
                            }
                        }
                    }
                }

                &-text {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 16px;
                    width: 100%;

                    &-label {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 16px;
                        color: var(--color-secondary, rgba(255, 255, 255, 0.55));
                        font-size: 1.2rem;
                        font-weight: 400;

                        @media screen and (max-width: 1000px) {
                            font-size: 1rem;
                        }

                        svg {
                            height: 16px;
                            width: 16px;
                        }

                        &-badge {
                            display: flex;
                            padding: 6px 12px;
                            justify-content: center;
                            align-items: center;
                            gap: 10px;
                            border-radius: 20px;
                            background: rgba(10, 132, 255, 0.2);
                            color: var(--color-blue-500);
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 110%;
                        }
                    }

                    &-paragraph {
                        .highlight {
                            color: var(--text-primary-dark, rgba(255, 255, 255, 0.85));
                        }

                        color: var(--color-secondary, rgba(255, 255, 255, 0.55));
                        font-size: 1.75rem;
                        font-weight: 400;
                        line-height: 2rem;

                        @media screen and (max-width: 1000px) {
                            font-size: 1.5rem;
                        }

                        @media screen and (max-width: 600px) {
                            font-size: 1.25rem;
                        }
                    }
                }
            }
        }

        &-window {
            height: 300px;
            width: 50%;
            display: flex;
            border-radius: 8px;
            border: 1px solid #8484844a;
            background: rgba(209, 26, 255, 0.15);
            position: relative;

            &-sidebar {
                height: 100%;
                width: 10rem;
                flex-shrink: 0;
                border-right: 1px solid #9d9d9d66;

                &-header {
                    width: 100%;
                    display: flex;
                    height: 5.25rem;
                    border-bottom: 1px solid #9d9d9d66;
                    background: linear-gradient(98deg, rgba(31, 174, 255, 0.15) -4.34%, rgba(177, 221, 245, 0) 192.92%);
                }
            }

            &-header {
                width: 100%;
                height: 5.25rem;
                display: flex;
                border-bottom: 1px solid #9d9d9d66;
            }

            &::after {
                position: absolute;
                content: "";
                z-index: 2;
                width: 101%;
                height: 101%;
                left: -1px;
                top: -1px;
                background: radial-gradient(87.38% 98.65% at 8.29% 13.65%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.32) 55.15%, #000 100%);
            }
        }

        &-text {
            display: flex;
            width: 45%;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
            align-self: stretch;

            &.download {
                height: 300px;
                opacity: 1 !important;
            }

            &-header {
                color: var(--white);
                font-size: 50px;
                font-weight: 400;
                line-height: 130%;

                @media screen and (max-width: 1000px) {
                    font-size: 44px;
                }

                @media screen and (max-width: 600px) {
                    font-size: 40px;
                }
            }

            &-paragraph {
                color: var(--color-secondary, rgba(255, 255, 255, 0.55));
                font-size: 20px;
                font-weight: 400;
                line-height: 130%;

                @media screen and (max-width: 1000px) {
                    font-size: 16px;
                }
            }

            &-button {
                margin-top: auto;
                display: flex;
                padding: 16px 24px;
                justify-content: center;
                align-items: center;
                gap: 16px;
                width: 100%;
                border-radius: 4px;
                background: var(--text-vibrant-primary-dark, #fff);
                position: relative;
                color: var(--color-base-black, #000);
                font-size: 16px;
                font-weight: 500;
                line-height: 130%;
                text-decoration: none;

                &::after {
                    position: absolute;
                    content: "";
                    z-index: 2;
                    width: 0%;
                    height: 100%;
                    left: 0px;
                    top: 0px;
                    background: #0000002a;
                    transition: width 0.2s ease-out;
                }

                &:hover::after {
                    width: 100% !important;
                }
            }
        }
    }
}

::selection {
    background-color: #3b82f74a;
}
