@keyframes brighten {
    0% {
        color: var(--color-secondary, rgba(255, 255, 255, 0.55));
    }
    100% {
        color: var(--white);
    }
}

@keyframes loading {
    0% {
        background-position-x: -200px;
    }

    100% {
        background-position-x: 200px;
    }
}

.cta-button {
    width: 100%;
    flex-shrink: 0;

    &.secondary {
        border: 1px solid #fff;
        color: var(--color-secondary);
        background: transparent;
        font-weight: 350;

        &::after {
            background: #ffffff1a;
        }
    }
}

main.index {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 9rem;
    background: radial-gradient(180vh 180vh at 50% 100vh, #a689d92b, #0000),
        radial-gradient(180vh 180vh at 50% calc(100% - 400px), #a689d92b, #0000),
        radial-gradient(
            180vh 180vh at 50% 50%,
            rgba(166, 137, 217, 0.05),
            #0000
        );

    @media screen and (max-width: 1000px) {
        gap: 6rem;
    }

    .hero-banner {
        z-index: 8;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        border: 1px solid rgba(255 255 255 / 0.2);
        background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0.08) 0%,
            rgba(255, 255, 255, 0.04) 100%
        );
        position: absolute;
        top: 6rem;
        height: 2.5rem;
        overflow: hidden;

        &-confetti {
            position: fixed;
            top: 10%;
            left: 50%;
            pointer-events: none;
            z-index: 99;
        }

        &-text {
            padding-inline: 20px;
            display: flex;
            gap: 16px;
            align-items: center;
            justify-content: center;
            height: 100%;
            font-size: 0.8rem;

            &[style] {
                font-size: 14px;
            }
        }

        a {
            position: relative;
            width: fit-content;
            color: #0a84ff;
            text-decoration: none;

            &::before {
                content: "";
                position: absolute;
                inset: 0;
                border-radius: 50px;
                border: 1px solid #0a84ff;
                background: rgba(10, 132, 255, 0.1);
                transition: background-color 0.2s ease-in-out;
                z-index: -1;
            }

            &:hover::before {
                background: rgba(10, 132, 255, 0.2);
            }

            @media screen and (max-width: 400px) {
                font-size: 0;

                &::after {
                    content: "GitHub";
                    font-size: 0.8rem;
                    order: -1;
                    width: 20px;
                }
            }
        }
    }

    .hero-text {
        padding-top: 10rem;
        text-align: center;
        font-size: 3rem;
        font-weight: 400;
        line-height: normal;
        color: var(--color-secondary, rgba(255, 255, 255, 0.55));
        transition: opacity 500ms ease-in-out;
        opacity: 0.6;
        max-width: 80vw;
        text-wrap: balance;
        text-wrap: pretty;

        &.inline {
            padding-top: 0;

            .hero-text-badges {
                margin-bottom: 0;
                margin-top: 32px;
            }
        }

        @media screen and (max-width: 1260px) {
            br {
                display: none;
                width: 0;
            }
        }

        @media screen and (max-width: 1000px) {
            padding-top: 9rem;
            font-size: 2rem;

            &.stay-large {
                font-size: 2.5rem;
            }
        }

        @media screen and (max-width: 600px) {
            padding-top: 10rem;
            font-size: 1.5rem;

            &.stay-large {
                font-size: 1.75rem;
            }
        }

        @media screen and (max-width: 400px) {
            font-size: 1.2rem;

            &.stay-large {
                font-size: 1.75rem;
            }
        }

        &.highlighted,
        &:hover {
            opacity: 1;
        }

        &-badges {
            margin-top: 16px;
            gap: 16px;
            margin-bottom: -40px;
            display: flex;
            align-items: center;
            justify-content: center;

            @media screen and (max-width: 576px) {
                flex-direction: column;
            }

            &-badge {
                display: flex;
                padding: 10px 20px;
                justify-content: center;
                align-items: center;
                gap: 16px;
                border-radius: 50px;
                border: 1px solid rgba(255, 255, 255, 0.2);
                background: linear-gradient(
                    180deg,
                    rgba(255, 255, 255, 0.06) 0%,
                    rgba(255, 255, 255, 0) 100%
                );
                text-decoration: none;
                color: var(--fill-secondary-vibrant);
                text-align: center;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
                width: fit-content;
                transition:
                    opacity 0.2s ease-in-out,
                    background-color 0.2s ease-in-out,
                    color 0.2s ease-in-out;

                @media screen and (max-width: 756px) {
                    font-size: 14px;
                }

                &.disabled {
                    opacity: 0.4 !important;
                    pointer-events: none !important;
                }

                &.highlight {
                    border-color: rgba(10, 132, 255, 0.2);
                    background: linear-gradient(
                        180deg,
                        rgba(10, 132, 255, 0.12) 0%,
                        rgba(10, 132, 255, 0.02) 100%
                    );

                    &:hover {
                        background-color: rgba(10, 132, 255, 0.04);
                    }
                }

                &:hover {
                    background-color: rgba(255, 255, 255, 0.02);
                    color: var(--color-primary);
                }

                &-text {
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    svg {
                        width: 14px;
                        height: 14px;
                    }
                }

                &-icon {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    font-size: 8px;
                    line-height: 10px;

                    svg {
                        margin-inline: -4px;
                    }

                    div {
                        order: 2;
                        margin-top: -4px;

                        // doing this to get around lack of :has support
                        + span svg {
                            margin-top: -4px;
                        }
                    }
                }
            }
        }

        &-highlight {
            animation: brighten 1000ms ease-in-out forwards 500ms;
        }
    }

    .window {
        display: flex;
        width: 60rem;
        height: 39rem;
        border-radius: 0.4vw;
        border: 1px solid #8484844a;
        transition: transform 1s ease-in-out;
        background-image: url("/assets/client/dark.webp");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        backdrop-filter: blur(50px);
        -webkit-backdrop-filter: blur(50px);
        background-color: #15151566;
        box-shadow: 0px 36px 100px 0px rgba(0, 0, 0, 0.7);

        @media (prefers-reduced-motion: no-preference) {
            transform: perspective(75em) rotateX(18deg);
        }

        @media screen and (max-width: 1000px) {
            width: 37rem;
            height: 24rem;
            border-width: 0.1vw;
        }

        @media screen and (max-width: 700px) {
            width: 80vw;
            height: 52vw;
        }

        &:is(.highlighted .window),
        &:hover {
            transform: perspective(75em) rotateX(0deg);

            &::after {
                opacity: 0 !important;
            }
        }

        &::after {
            position: absolute;
            content: "";
            z-index: 1;
            width: 100%;
            height: 100%;
            left: 0px;
            top: 0px;
            background: #000;
            opacity: 0.4;
            transition: opacity 1.3s ease-in-out;
        }

        &-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: fit-content;
            position: relative;

            .object {
                position: absolute;
                z-index: -1;
                width: 140vw;
                height: auto;
                transform: translateX(-50%);
                left: 50%;
                bottom: 0;
                top: -9vw;
                user-select: none;

                @media screen and (max-width: 1000px) {
                    width: 166vw;
                    top: -23vw;
                }
            }
        }
    }

    .separator {
        width: 100%;
        height: 1px;
        background: rgba(255, 255, 255, 0.2);

        &.with-content {
            background: none;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 4rem;

            &::before,
            &::after {
                content: "";
                display: block;
                width: 100%;
                height: 1px;
                background: rgba(255, 255, 255, 0.2);
            }

            & > * {
                flex-shrink: 0;
            }

            .medal {
                filter: drop-shadow(0px 0px 50px #ffb40444);
            }
        }
    }

    .comment {
        margin: 0px 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 64px;

        @media screen and (max-width: 1000px) {
            gap: 4rem;
            margin: 0 6rem;

            .comment-content-text {
                max-width: 100% !important;
                font-size: 1.5rem;
            }
        }

        @media screen and (max-width: 950px) {
            margin: 0 4rem;
        }

        @media screen and (max-width: 727px) {
            .comment-content-text {
                font-size: 1.25rem;
            }
        }

        @media screen and (max-width: 678px) {
            .comment-content {
                gap: 1rem;
                flex-direction: column;
            }

            .comment-content-image {
                height: 42px;
                width: 42px;
            }
        }

        @media screen and (max-width: 600px) {
            margin: 0 2rem;
        }

        @media screen and (max-width: 500px) {
            display: none;

            & + .separator {
                display: none;
            }
        }

        > * {
            opacity: 0.6;
            transition: opacity 500ms ease-in-out;
        }

        &.highlighted,
        &:hover {
            > * {
                opacity: 1;
            }
        }

        &-content {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            gap: 64px;
            align-self: stretch;

            &-text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 16px;
                color: var(--color-primary);
                font-size: 32px;
                font-weight: 400;
                line-height: 130%;

                max-width: 70vw;

                &-main {
                    text-indent: -0.84375em;
                }

                .quotes {
                    color: var(--color-secondary);
                }

                a {
                    color: #0a84ff;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 130%;
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    gap: 8px;
                }
            }

            &-image {
                width: 64px;
                height: 64px;
                border-radius: 80px;
            }
        }
    }

    .feature {
        display: flex;
        padding: 0px 148px;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        gap: 72px;
        transition: opacity 500ms ease-in-out;
        opacity: 0.6;

        &.download {
            opacity: 1 !important;
            padding-block: 9rem;
            border-top: 1px solid rgba(255, 255, 255, 0.2);
            background: linear-gradient(
                90deg,
                rgba(10, 132, 255, 0.2) 0%,
                rgba(10, 132, 255, 0) 100%
            );

            @media screen and (max-width: 1000px) {
                padding-block: 6rem;
            }
        }

        @media screen and (max-width: 1250px) {
            flex-direction: column;
            gap: 4rem;
            padding: 0 6rem;

            & > img {
                order: 2;
            }

            & > * {
                width: 100% !important;
            }

            .feature-text-button {
                margin-top: 2rem;
            }
        }

        @media screen and (max-width: 600px) {
            padding: 0 2rem;
        }

        &.highlighted,
        &:hover {
            opacity: 1;
        }

        & > img {
            width: 55%;
            pointer-events: none;

            &.feature-window {
                max-width: 600px;
            }
        }

        &-grid {
            margin: 0px 100px;
            width: calc(100% - 200px);
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            position: relative;
            gap: 8px;

            @media screen and (max-width: 950px) {
                width: 100%;
                margin: 0;
                grid-template-columns: 1fr;

                .feature-grid-item {
                    padding: calc(4rem + 32px) calc(4rem + 32px) 32px
                        calc(4rem + 32px);
                }
            }

            @media screen and (max-width: 600px) {
                .feature-grid-item {
                    padding: calc(2rem + 24px) calc(2rem + 24px) 24px
                        calc(2rem + 24px);
                }
            }

            @media screen and (max-width: 500px) {
                .feature-grid-item {
                    padding: calc(1rem + 24px) calc(1rem + 24px) 24px
                        calc(1rem + 24px);
                }
            }

            &-item {
                border: 1px solid rgba(255, 255, 255, 0.2);
                border-radius: 8px;
                border: 1px solid rgba(255, 255, 255, 0.05);
                background: linear-gradient(
                    322deg,
                    rgba(255, 255, 255, 0.02) 0%,
                    rgba(255, 255, 255, 0.03) 100%
                );
                display: flex;
                width: 100%;
                padding: 48px;
                flex-direction: column;
                align-items: flex-start;
                gap: 32px;
                overflow: hidden;
                position: relative;

                > * {
                    opacity: 0.6;
                    transition: opacity 500ms ease-in-out;
                }

                .blur {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    inset: 0;
                    mix-blend-mode: color-dodge;
                    pointer-events: none;
                    opacity: 0.4 !important;
                }

                &.highlighted,
                &:hover {
                    > * {
                        opacity: 1;
                    }
                }

                @media screen and (max-width: 950px) {
                    > * {
                        opacity: 1 !important;
                    }
                }

                &.full {
                    grid-column-end: span 2;
                    align-items: flex-end;
                    flex-direction: row;

                    .feature-grid-item-text-paragraph {
                        text-wrap: unset;
                    }

                    @media screen and (max-width: 950px) {
                        grid-column-end: auto;
                        align-items: flex-start;
                        flex-direction: column;
                    }
                }

                @media screen and (max-width: 950px) {
                    height: auto; // safari moment
                }

                img.feature-grid-item-graphic {
                    pointer-events: none;
                }

                &-graphic {
                    user-select: none;

                    &.popout {
                        width: 100%;
                        max-width: 60%;
                        height: auto;

                        @media screen and (max-width: 950px) {
                            max-width: 100%;
                        }
                    }

                    &.github,
                    &.design {
                        width: 100%;
                        height: auto;
                    }

                    &.open {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 1rem;
                        width: 100%;
                        font-family: "SF Pro Text", var(--font-primary);
                        margin-top: auto;

                        .inputbar {
                            display: flex;
                            align-items: center;
                            gap: 0.5rem;
                            width: 100%;
                        }

                        .inputbutton {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            aspect-ratio: 1/1;
                            border-radius: 2rem;
                            background: rgba(255 255 255 / 0.2);
                            padding: 0.4rem;
                            flex-shrink: 0;
                            cursor: pointer;

                            &.blue {
                                background: var(--color-blue-500);

                                &:hover {
                                    background: var(--color-blue-500-a3);
                                }
                            }

                            &:hover {
                                background: #ffffff3a;
                            }
                        }

                        .inputtext {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 2rem;
                            border: 1px solid rgba(255 255 255 / 0.2);
                            padding: 0.4rem 1rem;
                            width: 100%;
                            background: none;
                        }

                        .message {
                            display: flex;
                            padding: 0.5rem 0.75rem;
                            align-items: flex-start;
                            gap: 0.625rem;
                            color: var(--white);
                            font-size: 0.9rem;
                            font-weight: 400;
                            line-height: 120%;
                            border-radius: 1rem;
                            background: var(
                                --fills-tertiary-dark,
                                rgba(255, 255, 255, 0.25)
                            );

                            &.you {
                                background: #0a84ff;
                                max-width: 60%;
                                align-self: flex-end;

                                @media screen and (max-width: 600px) {
                                    max-width: 80%;
                                }

                                @media screen and (max-width: 400px) {
                                    max-width: 90%;
                                }
                            }
                        }
                    }

                    &.speed {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        gap: 8px;
                        height: 100%;
                        width: 100%;

                        .box {
                            display: flex;
                            width: 5rem;
                            height: 5rem;
                            justify-content: center;
                            align-items: center;
                            flex-shrink: 0;
                            border-radius: 0.5rem;
                            border: 1px solid rgba(255, 255, 255, 0.2);
                            background: linear-gradient(
                                135deg,
                                rgba(255, 255, 255, 0.11) 0%,
                                rgba(255, 255, 255, 0.06) 100%
                            );

                            svg:not(.logo, .highlight > svg) {
                                width: 1.5rem;
                                height: 1.5rem;
                                opacity: 0.6;
                            }

                            &.highlight {
                                border-radius: 0.5rem;
                                border: 1px solid var(--color-blue-500);
                                background: linear-gradient(
                                    135deg,
                                    rgba(59, 130, 247, 0.4) 0%,
                                    rgba(59, 130, 247, 0.2) 100%
                                );

                                svg {
                                    color: var(--color-blue-500);
                                    opacity: 1 !important;
                                }
                            }
                        }

                        .line {
                            height: 1px;
                            width: 100%;
                            background-color: rgba(255, 255, 255, 0.2);
                            background-image: linear-gradient(
                                to right,
                                #fff0 10%,
                                var(--color-blue-500) 50%,
                                #fff0 80%
                            );
                            background-repeat: no-repeat;
                            animation: loading 700ms linear infinite;

                            &.highlight {
                                opacity: 0.8;
                                background: var(--color-blue-500);
                            }
                        }

                        .line ~ .line {
                            animation-delay: 300ms;
                        }
                    }
                }

                &-text {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 8px;
                    width: 100%;
                    font-size: 1.5rem;
                    font-weight: 400;
                    line-height: 2rem;

                    @media screen and (max-width: 600px) {
                        font-size: 1.25rem;
                    }

                    &-label {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 16px;
                        color: var(
                            --text-primary-dark,
                            rgba(255, 255, 255, 0.85)
                        );

                        &-badge {
                            display: flex;
                            padding: 6px 12px;
                            justify-content: center;
                            align-items: center;
                            gap: 10px;
                            border-radius: 20px;
                            background: rgba(10, 132, 255, 0.2);
                            color: var(--color-blue-500);
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 110%;
                        }
                    }

                    &-paragraph {
                        color: var(
                            --color-secondary,
                            rgba(255, 255, 255, 0.55)
                        );
                        text-wrap: balance;
                    }
                }
            }
        }

        &-window {
            width: 50%;
            height: 600px;
            zoom: 0.8;
            position: relative;

            .fakeapp {
                -webkit-mask-image: radial-gradient(
                    88.57% 105.43% at 0% 0%,
                    #000,
                    #000000e3 36.59%,
                    #0000
                );
                mask-image: radial-gradient(
                    88.57% 105.43% at 0% 0%,
                    #000,
                    #000000e3 36.59%,
                    #0000
                );
                white-space: nowrap;
            }

            .preview-controls {
                display: none;
            }

            @media screen and (max-width: 1250px) {
                height: auto;
                zoom: 0;
            }
        }

        &-text {
            display: flex;
            width: 45%;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
            align-self: stretch;

            .styles-selector {
                display: flex;
                align-items: center;
                flex-direction: column;

                :first-of-type .styles-selector-item {
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px;
                }

                :last-of-type .styles-selector-item {
                    border-bottom-left-radius: 8px;
                    border-bottom-right-radius: 8px;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
                }

                &-item {
                    width: 100%;
                    border: 1px solid rgb(255 255 255 / 0.05);
                    border-bottom: none;
                    background: rgb(255 255 255 / 0.03);
                    display: flex;
                    padding: 16px;
                    gap: 8px;
                    align-items: start;
                    cursor: pointer;
                    flex-direction: column;
                    text-align: start;
                    transition: background 0.2s ease-out;

                    &.selected {
                        background: rgb(255 255 255 / 0.05);
                    }

                    a {
                        display: none;
                    }

                    &-title {
                        color: var(--color-primary);
                    }

                    &-description {
                        font-size: 14px;
                        color: var(--color-secondary);
                    }
                }
            }

            &.download {
                height: 300px;
                opacity: 1 !important;
            }

            &-header {
                color: var(--white);
                font-size: 44px;
                font-weight: 400;
                line-height: 130%;

                @media screen and (max-width: 1000px) {
                    font-size: 44px;
                }

                @media screen and (max-width: 600px) {
                    font-size: 40px;
                }
            }

            &-paragraph {
                color: var(--color-secondary, rgba(255, 255, 255, 0.55));
                font-size: 20px;
                font-weight: 400;
                line-height: 130%;

                @media screen and (max-width: 1000px) {
                    font-size: 16px;
                }
            }

            &-button {
                margin-top: auto;
                display: flex;
                padding: 16px 24px;
                justify-content: center;
                align-items: center;
                gap: 16px;
                width: 100%;
                border-radius: 4px;
                background: var(--text-vibrant-primary-dark, #fff);
                position: relative;
                color: var(--color-base-black, #000);
                font-size: 16px;
                font-weight: 500;
                line-height: 130%;
                text-decoration: none;
                overflow: hidden;

                &::after {
                    position: absolute;
                    content: "";
                    z-index: 2;
                    width: 100%;
                    height: 100%;
                    left: 0px;
                    top: 0px;
                    background: #0000002a;
                    transition: transform 0.2s ease-out;
                    transform: translateX(-100%);
                }

                &:hover::after {
                    transform: translateX(0%);
                }
            }
        }
    }
}

::selection {
    background-color: #3b82f74a;
}
