html:has(.styles) {
    font-size: 13px;
}

.styles {
    padding: 2rem;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    .fakeapp {
        aspect-ratio: 16 / 9;
    }

    &-picker {
        background: var(
            --bg-url,
            url("https://9to5mac.com/?attachment_id=811089")
        );
        background-size: auto;
        padding: 50px;
        background-size: cover;
        border-radius: 10px;
        width: 100%;
        height: calc(100% - 120px);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-selector {
        display: flex;
        gap: 10px;
        align-items: center;
        width: 100%;
        height: 120px;
        padding-bottom: 20px;

        &-item {
            padding: 16px;
            border-radius: 10px;
            background: #ffffff2a;
            cursor: pointer;
            transition: 0.3s;
            color: #fff;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            min-width: 200px;
            gap: 4px;
            position: relative;
            max-width: 400px;
            overflow: hidden;
            text-overflow: ellipsis;

            &.center {
                align-items: center;
                justify-content: center;
            }

            &-title {
                color: var(--color-primary);
            }

            &-description {
                color: var(--fill-secondary-vibrant);
                width: 100%;
                text-align: start;
                max-width: calc(100% - 32px);
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &-github {
                position: absolute;
                bottom: 8px;
                right: 8px;
                height: 16px;
                width: 16px;
                color: var(--fill-secondary-vibrant);
            }

            &:hover {
                background: #ffffff3a;
            }
        }
    }
}
