.button {
    display: flex;
    padding: 16px 24px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;
    border-radius: 4px;
    background: var(--text-vibrant-primary-dark, #fff);
    position: relative;
    color: var(--color-base-black, #000);
    font-size: 16px;
    font-weight: 500;
    line-height: 130%;
    text-decoration: none;

    &::after {
        position: absolute;
        content: "";
        z-index: 2;
        width: 0%;
        height: 100%;
        left: 0px;
        top: 0px;
        background: #0000002a;
        transition: width 0.2s ease-out;
    }

    &:hover::after {
        width: 100% !important;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.6;
    }
}
