.tag {
    padding: 4px 6px;
    background: #3b82f72a;
    color: #3b82f7;
    border-radius: 4px;
    font-size: 10px;
    margin-left: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;

    svg {
        width: 11px !important;
        height: 11px !important;
    }

    @media screen and (max-width: 600px) {
        font-size: 0;
        line-height: 0;
        gap: 0;
    }
}

.header {
    position: fixed;
    inset: 0;
    display: flex;
    width: min(650px, 90%);
    height: 50px;
    padding: 12px 24px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    z-index: 9;

    border-radius: 50px;
    border: 1px solid #656d7663;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(30px) saturate(2);
    -webkit-backdrop-filter: blur(30px) saturate(2);

    @media screen and (max-width: 600px) {
        &:not(.static) {
            display: none !important;
        }

        &.static {
            position: fixed !important;
        }
    }

    &.static {
        position: fixed;
        background: none;
        border: none;
        border-radius: 0;

        top: 0;
        left: 0;
        padding: 24px 120px;
        transform: none;
        width: 100%;
        height: fit-content;

        .header__group {
            gap: 32px;

            @media screen and (max-width: 600px) {
                gap: 16px;
            }
        }

        @media screen and (max-width: 810px) {
            a:nth-child(4),
            a:nth-child(5),
            a:nth-child(6),
            a:nth-child(7) {
                display: none;
            }
        }

        @media screen and (max-width: 768px) {
            padding: 24px 60px;
        }

        @media screen and (max-width: 480px) {
            padding: 16px 40px;
        }
    }

    @media screen and (max-width: 600px) {
        width: 100vw;
        transform: none;
        left: 0;
        border-radius: 0;
        top: 0;
    }

    &__group {
        display: flex;
        justify-content: center;
        gap: 16px;

        svg {
            width: 24px;
            height: 24px;
        }

        .icon {
            svg {
                width: 16px;
                height: 16px;
            }
        }

        &__link {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            color: var(--text-secondary-dark, rgba(255, 255, 255, 0.55));
            text-align: center;
            font-size: 14px;
            font-weight: 400;
            text-decoration: none;

            transition: color 0.2s ease-in-out;

            &.disabled {
                pointer-events: none;
                opacity: 0.5;
            }

            &:hover {
                color: var(--base-black);
            }
        }
    }
}
