.tag {
    padding: 4px 6px;
    background: #3b82f72a;
    color: #3b82f7;
    border-radius: 4px;
    font-size: 10px;
    margin-left: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;

    svg {
        width: 11px !important;
        height: 11px !important;
    }

    @media screen and (max-width: 600px) {
        font-size: 0;
        line-height: 0;
        gap: 0;

        p {
            width: 0 !important;
        }
    }
}

_::-webkit-full-page-media,
_:future,
:root .header {
    background: linear-gradient(rgba(0, 0, 0, 0.93), rgba(0, 0, 0, 0));
}

.header {
    inset: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    z-index: 9;
    backdrop-filter: blur(30px) saturate(2);
    -webkit-backdrop-filter: blur(30px) saturate(2);

    @media screen and (max-width: 600px) {
        position: fixed !important;
    }

    position: fixed;
    background: none;
    border: none;

    &.embed {
        position: relative !important;
        padding: 24px 4rem;

        @media screen and (width < 780px) {
            padding: 24px 2rem;
        }
    }

    &.nobg {
        background: none;
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
    }

    top: 0;
    left: 0;
    padding: 24px 120px;
    transform: none;
    width: 100%;
    height: fit-content;

    @media screen and (max-width: 850px) {
        a:nth-child(6),
        a:nth-child(7) {
            display: none;
        }
    }

    @media screen and (max-width: 750px) {
        a:nth-child(5),
        a:nth-child(6),
        a:nth-child(7) {
            display: none;
        }
    }

    @media screen and (max-width: 400px) {
        a:nth-child(4),
        a:nth-child(5),
        a:nth-child(6),
        a:nth-child(7) {
            display: none;
        }
    }

    @media screen and (max-width: 1068px) {
        padding: 24px 4rem;
    }

    @media screen and (max-width: 768px) {
        padding: 24px 4rem;
    }

    @media screen and (max-width: 480px) {
        padding: 24px 40px;
    }

    @media screen and (max-width: 420px) {
        padding: 24px 20px;
    }

    &__group {
        display: flex;
        justify-content: center;

        gap: 32px;

        @media screen and (max-width: 600px) {
            gap: 16px;
        }

        &__link {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            color: var(--color-secondary);
            text-align: center;
            font-size: 14px;
            font-weight: 400;
            text-decoration: none;

            transition: color 0.2s ease-in-out;

            @media screen and (max-width: 600px) {
                &.git {
                    font-size: 0;
                }
            }

            &.disabled {
                pointer-events: none;
                opacity: 0.5;
            }

            &:hover {
                color: var(--white);
            }
        }
    }
}
