.header {
    position: fixed;
    inset: 0;
    display: flex;
    width: min(650px, 90%);
    height: 50px;
    padding: 12px 24px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    z-index: 9;

    border-radius: 50px;
    border: 1px solid #656d7663;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(30px) saturate(2);
    -webkit-backdrop-filter: blur(30px) saturate(2);

    @media screen and (max-width: 600px) {
        &:not(.static) {
            display: none !important;
        }

        &.static {
            position: fixed !important;
        }
    }

    &.static {
        position: absolute;
        background: none;
        border: none;
        border-radius: 0;

        top: 0;
        left: 0;
        padding: 24px;
        transform: none;
        width: 100%;
        height: fit-content;

        a {
            color: var(--base-black) !important;
        }
    }

    @media (prefers-color-scheme: dark) {
        background: rgba(37, 41, 46, 0.7);
    }

    @media screen and (max-width: 600px) {
        width: 100vw;
        transform: none;
        left: 0;
        border-radius: 0;
        top: 0;
    }

    &__group {
        display: flex;
        justify-content: center;
        gap: 16px;

        svg {
            width: 24px;
            height: 24px;
        }

        .icon {
            svg {
                width: 16px;
                height: 16px;
            }
        }

        &__link {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            color: var(--base-dark-grey);
            text-align: center;
            font-size: 14px;
            font-weight: 400;
            text-decoration: none;

            transition: color 0.2s ease-in-out;

            &:hover {
                color: var(--base-black);
            }
        }
    }
}
