figure.opt-image {
    background-image: var(--dark-url);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media screen and (prefers-color-scheme: light) {
        background-image: var(--light-url);
    }
}
