@use "shikiji-twoslash/style-rich.css";

.twoslash .twoslash-hover {
    border-bottom: 1px dashed transparent;
}

.twoslash-popup-container {
    max-width: 500px;
    overflow: auto hidden;
    text-wrap: stable;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }

    .twoslash-popup-docs {
        width: 100%;
        text-wrap: stable;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: break-spaces;
        font-size: 0.8rem;
    }
}

:root {
    --twoslash-border-color: #43434388;
    --twoslash-docs-color: var(--color-secondary);
    --twoslash-underline-color: currentColor;
    --twoslash-highlighted-border: #c37d0d50;
    --twoslash-highlighted-bg: #c37d0d20;
    --twoslash-popup-bg: #0d0d0d;
    --twoslash-popup-shadow: rgba(0, 0, 0, 0.08) 0px 1px 4px;
    --twoslash-matched-color: inherit;
    --twoslash-unmatched-color: #888;
    --twoslash-cursor-color: #8888;
    --twoslash-error-color: #d45656;
    --twoslash-error-bg: #d4565620;
    --twoslash-tag-color: #3772cf;
    --twoslash-tag-bg: #3772cf20;
    --twoslash-tag-warn-color: #c37d0d;
    --twoslash-tag-warn-bg: #c37d0d20;
    --twoslash-tag-annotate-color: #1ba673;
    --twoslash-tag-annotate-bg: #1ba67320;
}
