@use "./markdown";

:root:has(.docs-container) {
    --black: #111112;
}

.markdown-body {
    color-scheme: dark;
    --shiki-token-comment: #8b949e;
    --shiki-token-constant: #79c0ff;
    --shiki-token-entity: #d2a8ff;
    --shiki-token-function: #d2a8ff;
    --shiki-token-storage-modifier-import: #c9d1d9;
    --shiki-token-entity-tag: #7ee787;
    --shiki-token-keyword: #ff7b72;
    --shiki-token-string: #a5d6ff;
    --shiki-token-string-expression: #a5d6ff;
    --shiki-token-variable: #ffa657;
    --shiki-token-brackethighlighter-unmatched: #f85149;
    --shiki-token-invalid-illegal-text: #f0f6fc;
    --shiki-token-invalid-illegal-bg: #8e1519;
    --shiki-token-carriage-return-text: #f0f6fc;
    --shiki-token-carriage-return-bg: #b62324;
    --shiki-token-string-regexp: #7ee787;
    --shiki-token-markup-list: #f2cc60;
    --shiki-token-markup-heading: #1f6feb;
    --shiki-token-markup-italic: #c9d1d9;
    --shiki-token-markup-bold: #c9d1d9;
    --shiki-token-markup-deleted-text: #ffdcd7;
    --shiki-token-markup-deleted-bg: #67060c;
    --shiki-token-markup-inserted-text: #aff5b4;
    --shiki-token-markup-inserted-bg: #033a16;
    --shiki-token-markup-changed-text: #ffdfb6;
    --shiki-token-markup-changed-bg: #5a1e02;
    --shiki-token-markup-ignored-text: #c9d1d9;
    --shiki-token-markup-ignored-bg: #1158c7;
    --shiki-token-meta-diff-range: #d2a8ff;
    --shiki-token-brackethighlighter-angle: #8b949e;
    --shiki-token-sublimelinter-gutter-mark: #484f58;
    --shiki-token-constant-other-reference-link: #a5d6ff;
}

@keyframes skeletonBg {
    0%,
    100% {
        background-color: rgba(255, 255, 255, 0.1);
    }
    50% {
        background-color: rgba(255, 255, 255, 0.3);
    }
}

.empty {
    width: 100px;
    height: 16px;
    border-radius: 4px;
    animation: skeletonBg 1.2s ease-in-out infinite;

    &.byline {
        width: 400px;
    }

    &.title {
        height: 48px;
        width: 200px;
    }
}

.markdown-body .empty {
    width: calc(300px + (200px * var(--w)));
    margin-bottom: 4px;
}

.docs-sidebar {
    width: 350px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    padding: 2rem 0 6rem 4rem;
    scroll-behavior: smooth;
    overflow-y: auto;

    &-headings {
        display: flex;
        flex-direction: column;
        gap: 8px;

        h2 {
            color: var(--white);
            font-size: 0.875rem;
            font-weight: 400;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;

            li {
                &.l1 {
                    padding-inline-start: 0;
                }

                &.l2 {
                    padding-inline-start: 8px;
                }

                &.l3 {
                    padding-inline-start: 16px;
                }

                a {
                    text-decoration: none;
                    color: inherit;
                    width: 100%;
                    height: 24px;
                }

                font-size: 0.85rem;
                color: var(--color-secondary, rgba(255, 255, 255, 0.55));
                border-left: 1px solid rgb(255 255 255 / 10%);
                font-weight: 400;
                transition: 0.2s ease-out;
                cursor: pointer;
                width: 100%;
                display: flex;
                align-items: center;
                height: 24px;

                &:hover {
                    color: var(--color-primary);
                }

                &.active {
                    border-left: 1px solid var(--color-blue-500);
                    color: var(--color-blue-400);
                }
            }
        }
    }

    .separator {
        height: 1px;
        width: 100%;
        background: rgba(255, 255, 255, 0.1);
        margin: 32px 0;
    }

    nav {
        display: flex;
        flex-direction: column;
        height: fit-content;

        nav {
            border-left: 1px solid rgba(255, 255, 255, 0.1);
            padding-left: 16px;
        }
    }

    .label {
        background: none;
        color: var(--white);
        font-size: 0.875rem;
        padding: 10px 0;
        margin-top: 48px;
        display: flex;
        align-items: center;
        gap: 8px;
        justify-content: space-between;

        svg {
            transition: 0.2s ease-out;
        }

        &:first-child,
        &:is(nav nav *) {
            margin-top: 0;
        }

        &:is(nav nav *) {
            color: var(--color-secondary, rgba(255, 255, 255, 0.55));
        }
    }

    &::-webkit-scrollbar {
        display: none;
    }

    .item {
        display: flex;
        align-items: center;
        cursor: pointer;
        width: calc(100% + 8px);
        color: var(--color-secondary, rgba(255, 255, 255, 0.55));
        text-decoration: none;
        transition: all 0.2s ease-out;
        margin-block: 0;
        background: none;
        font-size: 14px;
        padding: 10px 8px;
        border-radius: 4px;
        border: none;
        outline: none;
        margin-left: -8px;

        &.empty {
            height: 34px;
            margin-top: 4px;
        }

        &:hover {
            color: var(--color-blue-400);
        }

        &.active {
            color: var(--color-blue-400);
            background: rgb(255 255 255 / 8%);
        }
    }

    @media screen and (max-width: 620px) {
        display: none;
    }
}

.docs-content {
    margin-left: 350px;
    padding: 2rem 3rem 3rem 3rem;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    gap: 1rem;
    height: calc(100vh - 4.5rem);
    overflow-y: auto;
    scroll-behavior: smooth;
    overscroll-behavior: contain;
    scrollbar-width: thin;
    scrollbar-color: rgb(255 255 255 / 20%) transparent;

    --color-secondary: rgb(161, 161, 161);
    --content-width: 850px;

    padding-inline-end: calc((100vw - 350px - var(--content-width)));

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgb(255 255 255 / 20%);
        border-radius: 4px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    @media screen and (max-width: 768px) {
        padding: 2rem;
    }

    @media screen and (max-width: 620px) {
        margin-left: 0;
    }

    &-title {
        color: var(--white);
        font-size: 2.5rem;
        font-weight: 600;
        margin-top: 0;
        margin-bottom: 0.25rem;
        padding-bottom: 0;
        border-bottom: none;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width: 768px) {
            font-size: 2rem;
        }

        @media screen and (max-width: 480px) {
            font-size: 1.5rem;
        }

        .read-time {
            color: var(--color-secondary, rgba(255, 255, 255, 0.55));
            font-size: 1rem;
            font-weight: 400;
            display: flex;
            align-items: center;
            gap: 8px;
        }
    }

    &-description {
        color: rgba(255, 255, 245, 0.86);
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 2rem;
        border-bottom: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
    }

    .byline {
        color: rgba(255, 255, 245, 0.86);
        display: flex;
        align-items: center;
        gap: 8px;
        margin-top: auto;
        padding-top: 8px;

        @media screen and (max-width: 768px) {
            font-size: 0.8rem;
        }

        a {
            color: inherit;
            height: 16px;

            svg {
                height: 16px;
                width: 16px;
            }
        }

        .nav-buttons {
            margin-left: auto;
            display: flex;

            .nav-button {
                border: 1px solid rgb(255 255 255 / 10%);
                cursor: pointer;
                background: none;
                width: 32px;
                height: 32px;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                color: rgb(255 255 255);

                &[aria-disabled] {
                    color: rgb(255 255 255 / 50%);
                    pointer-events: none;
                }

                &:first-child {
                    border-radius: 4px 0 0 4px;
                }

                &:last-child {
                    border-radius: 0 4px 4px 0;
                    border-left: none;
                }
            }
        }
    }
}
