@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.decorations {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    pointer-events: none;
    z-index: -1;
}

canvas.decorations {
    @media (prefers-reduced-motion: reduce) {
        display: none;
    }

    z-index: 1;

    pointer-events: initial !important;
    opacity: 0;
    animation: fade 1s ease-in 0.5s forwards;
}

#canvas-controls {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    z-index: 3;
    display: flex;
    gap: 1rem;

    .control-button {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.sub-page {
    width: 100%;
    height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4rem;
    padding-inline: 25%;
    justify-content: center;

    &.nopointer {
        pointer-events: none;

        & > * {
            pointer-events: initial !important;
            z-index: 2;
        }
    }

    @media screen and (max-width: 1200px) {
        padding-inline: 15%;
    }

    @media screen and (max-width: 900px) {
        padding-inline: 10%;
    }

    @media screen and (max-width: 600px) {
        padding-inline: 5%;
    }

    &__buttons {
        width: 100%;
        display: flex;
    }

    &__header {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 16px;
        width: 100%;
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;

        @media screen and (max-width: 600px) {
            align-items: flex-start;
        }

        a {
            color: var(--color-blue-500);
            text-decoration: none;
            position: relative;
            display: inline-block;

            &::after {
                content: "";
                display: block;
                width: 0;
                background: var(--color-blue-500);
                position: absolute;
                height: 1px;
                bottom: 2px;
                z-index: -1;
                transition: width 0.2s ease-out;
            }

            &:hover::after {
                width: 100%;
            }
        }

        // .app-icon
        &__icon {
            aspect-ratio: 1;
            user-select: none;
            width: 128px;
            height: 128px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            .body {
                position: absolute;
                left: 50%;
                top: 53.5%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 100%;
            }

            .logo {
                width: 31.25%;
                height: 58px;
                flex-shrink: 0;
                filter: drop-shadow(0px 0px 40px rgba(255, 255, 255, 0.6));

                g {
                    opacity: 1 !important;
                }
            }

            @media screen and (max-width: 800px) {
                width: 96px;
                height: 96px;
            }

            @media screen and (max-width: 600px) {
                display: none;
            }
        }

        &__heading {
            color: var(--white);
            text-align: start;
            font-size: 52px;
            font-weight: 400;
            line-height: 120%;
            display: flex;
            flex-direction: column;
            gap: 16px;
            width: fit-content;

            &__detail {
                color: var(--color-secondary);
                font-size: 22px;
                font-style: normal;
                font-weight: 400;
                line-height: 26px;
            }
        }

        &__subheading {
            color: var(--color-secondary, rgba(255, 255, 255, 0.55));
            text-align: start;
            font-size: 22px;
            font-weight: 400;
            line-height: 28px;
            max-width: 650px;
        }
    }

    &__steps {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 16px;

        @media screen and (max-width: 600px) {
            margin-inline: -5%;
            width: calc(100% + 10%);
        }

        &__step {
            display: flex;
            padding: 16px 32px;
            justify-content: space-between;
            align-items: center;
            align-self: stretch;
            color: var(--fill-secondary-vibrant);
            text-decoration: none;
            border-radius: 50px;
            background: rgba(178, 178, 178, 0.1);

            @media screen and (max-width: 600px) {
                border-radius: 0;
            }

            svg {
                width: 20px;
                height: 20px;

                @media screen and (max-width: 600px) {
                    display: none;
                }
            }
        }
    }

    &__note {
        display: flex;
        align-items: center;
        gap: 16px;

        &__link {
            color: var(--color-blue-500);
            text-decoration: none;
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;

            &:hover {
                text-decoration: underline;
            }
        }

        &__tag {
            display: flex;
            padding: 2px 6px;
            justify-content: center;
            align-items: center;
            align-self: stretch;
            border-radius: 4px;
            text-decoration: none;
            cursor: pointer;
            background: rgba(178, 178, 178, 0.1);
            color: var(--color-secondary-vibrant);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
        }
    }
}
